/* Navbar Background */
section {
    margin-top: 0%;
    height: 50px;  
}

/* Dropdown Fix */
.navbar-nav .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    margin-top: 0; /* Prevents unwanted margin */
}

/* Navbar Links */
.navbar-nav .nav-link {
    color: white !important;
}
