
<section>
    <nav class="navbar navbar-expand-lg fixed-top" style="background: linear-gradient(to bottom, #e46d06 0%, #b42d1c 100%);">
        <div class="container">
            <!-- Logo Section -->
            <a class="navbar-brand ms-3" href="">
                <img src="../assets/image/il-logo.png" alt="Logo" style="height: 30px;">
            </a>
            <a class="navbar-brand ms-4" href="">
                <img src="../assets/image/primary_desk.svg" alt="Icon" style="height: 20px;">
            </a>
    
            <!-- Navbar Links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-2">
                    <!-- Dropdown 1: Employee Benefit -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Employee Benefit
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" routerLink="/SME/workmans-policy">Workman'S Policy</a>
    
                            </li>
                            <li><a class="dropdown-item" href="#">Option 2</a></li>
                        </ul>
                    </li>
    
                    <!-- Dropdown 2: Marine Insurance -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Marine Insurance
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <li><a class="dropdown-item" href="#">Option 1</a></li>
                            <li><a class="dropdown-item" href="#">Option 2</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>
<router-outlet></router-outlet>
    
    



